<meta charset="utf-8">
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/chartist.min.css' />
<link rel='stylesheet' href='/stylesheets/notify-metro.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-toggle.min.css' />
<link rel="stylesheet" href="/lib/jquery-ui.min.css"/>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/css/lobipanel.css"/>

<link rel="stylesheet" href="/lib/highlight/github.css"/>
<link rel="stylesheet" href="/demo/documentation.css"/>
<link rel="stylesheet" href="/demo/demo.css"/>
<script src="/lib/jquery.1.11.min.js"></script>
<script src="/lib/jquery-ui.min.js"></script>
<script src="/lib/jquery.ui.touch-punch.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/dist/js/lobipanel.js"></script>

<script src="/lib/highlight/highlight.pack.js"></script>
<script src="/javascripts/bootstrap-toggle.min.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/notify.js"></script>
<script src="/javascripts/notify-metro.js"></script>
<script src="/javascripts/fusioncharts.js" charset="utf-8"></script>
<script src="/javascripts/fusioncharts.theme.fint.js" charset="utf-8"></script>
<script src="/javascripts/fusioncharts.widgets.js" charset="utf-8"></script>
<script src="/javascripts/raphael-2.1.4.min.js"></script>
<script src="/javascripts/justgage.js"></script>
<script src="/javascripts/chartist.min.js"></script>
<script src="/javascripts/chartist-plugin-threshold.js"></script>
<script src="/javascripts/jssor.slider.min.js"></script>
