<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>

  </head>
  <body>
    <% include ./partials/nav.ejs %>

      <div id="lobipanel">

              <p></p>
      <div id="lobipanel-multiple">

          <div class="bs-example">
              <div class="row">
                  <div id="lobipanel-parent" class="col-md-4 lobipanel-parent">
                      <div class="panel panel-default" data-stateful="true" data-inner-id="lobipanel-parent-default">
                          <div class="panel-heading">
                              <div class="panel-title">
                                  <h4>Lamps</h4>
                              </div>
                          </div>
                          <div class="panel-body">
                              <div class="media">
                                  <div class="media-left">
                                    <img src="/images/home.png" alt="" width="50px">
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Guest Room</h4>

                                  </div>
                                  <div class="media-right">
                                    <input type="checkbox" id="lamp-gu" data-toggle="toggle"  data-width="70" data-onstyle="success" data-size="small">
                                  </div>
                              </div>
                              <div class="media">
                                  <div class="media-left">
                                    <img src="/images/bed.png" alt="" width="50px">
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading"> Bed Room</h4>

                                  </div>
                                  <div class="media-right">
                                    <input type="checkbox" id="lamp-be" data-toggle="toggle" data-width="70" data-onstyle="success" data-size="small">
                                  </div>
                              </div>
                              <div class="media">
                                  <div class="media-left">
                                    <img src="/images/kitchen.png" alt="" width="50px">
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Kitchen</h4>

                                  </div>
                                  <div class="media-right">
                                    <input type="checkbox" id="lamp-ki"d data-toggle="toggle" data-width="70" data-onstyle="success" data-size="small">
                                  </div>
                              </div>
                              <div class="media">
                                  <div class="media-left">
                                    <img src="/images/garden.png" alt="" width="50px">
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Garden</h4>

                                  </div>
                                  <div class="media-right">
                                    <input type="checkbox" id="lamp-ga" data-toggle="toggle" data-width="70" data-onstyle="success" data-size="small">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-primary" data-stateful="true"  data-inner-id="lobipanel-parent-primary">
                          <div class="panel-heading">
                              <div class="panel-title">
                                  <h4>Humanity Sensor</h4>
                              </div>
                          </div>
                          <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/tem.png" alt="" width="90px">
                                  <h4>Humanity</h4>
                                  <div class="media-body">
                                      <h4 class="media-heading"></h4>

                                  </div>
                                </div>

                                <div class="media-right">
                                      <img src="/images/tem.png" alt="" width="90px">
                                      <h4>Temperature</h4>
                                </div>

                            </div>
                          </div>
                      </div>

                  </div>

                  <div class="col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <div class="panel-title">
                                  <h4>CCTV</h4>
                              </div>
                          </div>
                          <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/cctv.png" alt="" width="50px">
                                  <div class="media-body">
                                      <h4 class="media-heading"></h4>

                                  </div>
                                </div>

                                <div class="media-right">
                                      <input type="button" name="cctv" value=" Enter" class="btn btn-primary">
                                </div>

                            </div>
                          </div>
                      </div>
                      <div class="panel panel-info">
                          <div class="panel-heading">
                              <div class="panel-title">
                                  <h4>Windows</h4>
                              </div>
                          </div>
                          <div class="panel-body">
                              <div class="media">
                                  <div class="media-left">
                                    <img src="/images/window.png" alt="" width="50px">
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Guest Room</h4>

                                  </div>
                                  <div class="media-right">
                                    <input type="checkbox" id="win-gu" disabled data-toggle="toggle" data-on="open" data-width="70"  data-off="close" data-onstyle="danger" data-offstyle="success" data-size="small">
                                  </div>
                              </div>
                              <div class="media">
                                  <div class="media-left">
                                    <img src="/images/window.png" alt="" width="50px">
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading"> Bed Room</h4>

                                  </div>
                                  <div class="media-right">
                                    <input type="checkbox" id="win-be" disabled data-toggle="toggle" data-on="open" data-width="70" data-off="close" data-onstyle="danger" data-offstyle="success"  data-size="small">
                                  </div>
                              </div>
                              <div class="media">
                                  <div class="media-left">
                                    <img src="/images/window.png" alt="" width="50px">
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Kitchen</h4>

                                  </div>
                                  <div class="media-right">
                                    <input type="checkbox" id="win-ki" disabled data-toggle="toggle"data-on="open" data-width="70" data-off="close" data-onstyle="danger" data-offstyle="success"  data-size="small">
                                  </div>
                              </div>

                          </div>
                      </div>
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <div class="panel-title">
                                  <h4>Door</h4>
                              </div>
                          </div>
                          <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/door.png" alt="" width="50px">
                                  <div class="media-body">
                                      <h4 class="media-heading"></h4>

                                  </div>
                                </div>

                                <div class="media-right">
                                      <input type="checkbox" id="door-onoff"data-toggle="toggle" data-onstyle="info" data-width="70" data-size="small"></br>
                                      <input type="checkbox" id="door-lock" data-toggle="toggle" data-on="lock" data-off="unlock " data-size="small" data-offstyle="success">
                                </div>


                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <div class="panel-title">
                                  <h4>Security Sensor</h4>
                              </div>
                          </div>
                          <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/thief.png" alt="" width="50px">
                                  <div class="media-body">
                                      <h4 class="media-heading"></h4>
                                  </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Door</h4>
                                </div>

                                <div class="media-right">
                                      <input type="checkbox" id="ss-door" data-toggle="toggle" data-onstyle="info" data-width="70" data-size="small">
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/people.png" alt="" width="50px">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Inside Home</h4>
                                </div>

                                <div class="media-right">
                                      <input type="checkbox" id="ss-motion" data-toggle="toggle" data-onstyle="info" data-width="70" data-size="small">
                                </div>
                            </div>
                          </div>
                      </div>
                      <div class="panel panel-info">
                          <div class="panel-heading">
                              <div class="panel-title">
                                  <h4>Flame Sensor</h4>
                              </div>
                          </div>
                          <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/fire.png" alt="" width="50px">
                                  <div class="media-body">
                                      <h4 class="media-heading"></h4>
                                  </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Flame</h4>
                                </div>

                                <div class="media-right">
                                      <input type="checkbox" id="flame" data-toggle="toggle" data-onstyle="info" data-width="70" data-size="small">
                                </div>
                            </div>
                            <div class="media">

                          </div>
                      </div>
                    </div>
                      <div class="panel panel-info">
                          <div class="panel-heading">
                              <div class="panel-title">
                                  <h4>Gas Sensor</h4>
                              </div>
                          </div>
                          <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/smoke.png" alt="" width="50px">
                                  <div class="media-body">
                                      <h4 class="media-heading"></h4>
                                  </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Gas</h4>
                                </div>

                                <div class="media-right">
                                      <input type="checkbox" id="gas" data-toggle="toggle" data-onstyle="info" data-width="70" data-size="small">

                                </div>
                            </div>

                      </div>
                  </div>
              </div>
          </div>


    </div>
  </div>



  </body>
  <script>
      $(function(){
          var codes = $('.highlight code');
          codes.each(function (ind, el) {
              hljs.highlightBlock(el);
          });

          $('.lobipanel').lobiPanel();
          $('#demoPanel11').lobiPanel();
          $('#lobipanel-basic')
                  .on('beforeUnpin.lobiPanel', function () {
                      console.log("beforeClose");
                  })
                  .on('onClose.lobiPanel', function () {
                      console.log("onClose");
                  })
                  .on('onTitleChange.lobiPanel', function () {
                      console.log(this, arguments);

                  })
                  .lobiPanel();
          $('#lobipanel-custom-control').lobiPanel({
              reload: false,
              close: false,
              editTitle: false
          });
          $('#lobipanel-stateful').lobiPanel({
              stateful: true
          });
          $('#lobipanel-font-awesome').lobiPanel({
              reload: {
                  icon: 'fa fa-refresh'
              },
              editTitle: {
                  icon: 'fa fa-edit',
                  icon2: 'fa fa-save'
              },
              unpin: {
                  icon: 'fa fa-arrows'
              },
              minimize: {
                  icon: 'fa fa-chevron-up',
                  icon2: 'fa fa-chevron-down'
              },
              close: {
                  icon: 'fa fa-times-circle'
              },
              expand: {
                  icon: 'fa fa-expand',
                  icon2: 'fa fa-compress'
              }
          });
          $('#lobipanel-constrain-size').lobiPanel({
              minWidth: 300,
              minHeight: 300,
              maxWidth: 600,
              maxHeight: 480
          });
          $('#lobipanel-from-url').on('loaded.lobiPanel', function (ev, lobiPanel) {
              var $body = lobiPanel.$el.find('.panel-body');

              hljs.highlightBlock($body.find('code')[0]);
          }).lobiPanel({
              loadUrl: 'bootstrap/dist/css/bootstrap.min.css',
              bodyHeight: 400
          });
          $('#lobipanel-multiple').find('.panel').lobiPanel({
              sortable: true,
              beforeTitleChange: function(lobiPanel, title){
                  console.log("beforeTitleChange", arguments);
                  if (!title) {
                      return false;
                  }
              }
          });
      });

      var socket = io(); //load socket.io-client and connect to the host that serves the page
      window.addEventListener("load", function(){ //when page loads
        var sData = {};

    $('#lamp-gu').change(function() {
      sData.type = 'lamp';
      sData.no = 0;
      sData.flag = this.checked;
      socket.emit('control', sData);
});
    $('#lamp-be').change(function() {
      sData.type = 'lamp';
      sData.no = 1;
      sData.flag = this.checked;
      socket.emit('control', sData);
});
        $('#lamp-ki').change(function() {
        sData.type = 'lamp';
        sData.no = 2;
        sData.flag = this.checked;
        socket.emit('control', sData);
});
        $('#lamp-ga').change(function() {
        sData.type = 'lamp';
        sData.no = 3;
        sData.flag = this.checked;
        socket.emit('control', sData);
});
        $('#door-onoff').change(function() {
        sData.type = 'door';
        sData.no = 0;
        sData.flag = this.checked;
        socket.emit('control', sData);
  });
        $('#door-lock').change(function() {
        sData.type = 'door';
        sData.no = 1;
        sData.flag = this.checked;
        socket.emit('control', sData);
});
        $('#ss-door').change(function() {
        sData.type = 'security';
        sData.no = 0;
        sData.flag = this.checked;
        socket.emit('control', sData);
});
        $('#ss-motion').change(function() {
        sData.type = 'security';
        sData.no = 1;
        sData.flag = this.checked;
        socket.emit('control', sData);
});
        $('#flame').change(function() {
        sData.type = 'flame';
        sData.no = 0;
        sData.flag = this.checked;
        socket.emit('control', sData);
});
        $('#gas').change(function() {
        sData.type = 'gas';
        sData.no = 0;
        sData.flag = this.checked;
        socket.emit('control', sData);
});


socket.on('control', function (data) { //get button status from client
  console.log('call////a/a/a/bsbsbs',data);
  switch(data.type){
    case 'lamp':
          if(data.no == 0){
            document.getElementById('lamp-gu').checked = data.flag;
        }else if (data.no == 1) {
              document.getElementById('lamp-be').checked = data.flag;
        } else if (data.no == 2) {
              document.getElementById('lamp-ki').checked = data.flag;
        } else {
              document.getElementById('lamp-ga').checked = data.flag;
        }
        break;
    case 'door':
          if(data.no == 0){
              document.getElementById('door-onoff').checked = data.flag;
        }else{
              document.getElementById('door-lock').checked = data.flag;
      }
      break;
      case 'security':
            if(data.no == 0){
                document.getElementById('ss-door').checked = data.flag;
          }else {
                document.getElementById('ss-motion').checked = data.flag;
          }
        break;
        case 'flame':
                  document.getElementById('flame').checked = data.flag;
          break;
        case 'gas':
                  document.getElementById('gas').checked = data.flag;
          break;
          case 'window':
                if(data.no == 0){
                  document.getElementById('win-gu').checked = data.flag;
              }else if (data.no == 1) {
                    document.getElementById('win-be').checked = data.flag;
              } else {
                    document.getElementById('win-ki').checked = data.flag;
              }
              break;
}
      });

      });
  </script>
</html>
