<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-toggle.min.css' />
    <link rel="stylesheet" href="/lib/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/lobipanel.css"/>

    <link rel="stylesheet" href="lib/highlight/github.css"/>
    <link rel="stylesheet" href="demo/documentation.css"/>
    <link rel="stylesheet" href="demo/demo.css"/>
    <script src="/lib/jquery.1.11.min.js"></script>
    <script src="/lib/jquery-ui.min.js"></script>
    <script src="/lib/jquery.ui.touch-punch.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/dist/js/lobipanel.js"></script>

    <script src="/lib/highlight/highlight.pack.js"></script>
    <script src="/javascripts/bootstrap-toggle.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
    <div id="lobipanel">

            <p></p>
    <div id="lobipanel-multiple">

        <div class="bs-example">
            <div class="row">
                <div id="lobipanel-parent" class="col-md-4 lobipanel-parent">
                    <div class="panel panel-default" data-stateful="true" data-inner-id="lobipanel-parent-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Lamps</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/home.png" alt="" width="50px">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Guest Room</h4>

                                </div>
                                <div class="media-right">
                                  <input type="checkbox" checked data-toggle="toggle" data-width="70" data-onstyle="success" data-size="small">
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/bed.png" alt="" width="50px">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"> Bed Room</h4>

                                </div>
                                <div class="media-right">
                                  <input type="checkbox" checked data-toggle="toggle" data-width="70" data-onstyle="success" data-size="small">
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/kitchen.png" alt="" width="50px">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Kitchen</h4>

                                </div>
                                <div class="media-right">
                                  <input type="checkbox" checked data-toggle="toggle" data-width="70" data-onstyle="success" data-size="small">
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/garden.png" alt="" width="50px">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Garden</h4>

                                </div>
                                <div class="media-right">
                                  <input type="checkbox" checked data-toggle="toggle" data-width="70" data-onstyle="success" data-size="small">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary" data-stateful="true"  data-inner-id="lobipanel-parent-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Humanity Sensor</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                          <div class="media">
                              <div class="media-left">
                                <img src="/images/tem.png" alt="" width="90px">
                                <h4>Humanity</h4>
                                <div class="media-body">
                                    <h4 class="media-heading"></h4>

                                </div>
                              </div>

                              <div class="media-right">
                                    <img src="/images/tem.png" alt="" width="90px">
                                    <h4>Temperature</h4>
                              </div>

                          </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>CCTV</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                          <div class="media">
                              <div class="media-left">
                                <img src="/images/cctv.png" alt="" width="50px">
                                <div class="media-body">
                                    <h4 class="media-heading"></h4>

                                </div>
                              </div>

                              <div class="media-right">
                                    <input type="button" name="cctv" value=" Enter" class="btn btn-primary">
                              </div>

                          </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Windows</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/window.png" alt="" width="50px">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Guest Room</h4>

                                </div>
                                <div class="media-right">
                                  <input type="checkbox" checked data-toggle="toggle" data-on="open" data-width="70" data-off="close" data-onstyle="success" data-size="small">
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/window.png" alt="" width="50px">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"> Bed Room</h4>

                                </div>
                                <div class="media-right">
                                  <input type="checkbox" checked data-toggle="toggle" data-on="open" data-width="70" data-off="close" data-onstyle="success" data-size="small">
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                  <img src="/images/window.png" alt="" width="50px">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Kitchen</h4>

                                </div>
                                <div class="media-right">
                                  <input type="checkbox" checked data-toggle="toggle"data-on="open" data-width="70" data-off="close" data-onstyle="success" data-size="small">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Door</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                          <div class="media">
                              <div class="media-left">
                                <img src="/images/door.png" alt="" width="50px">
                                <div class="media-body">
                                    <h4 class="media-heading"></h4>

                                </div>
                              </div>

                              <div class="media-right">
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="info" data-width="70" data-size="small"></br>
                                    <input type="checkbox" checked data-toggle="toggle" data-on="lock" data-off="unlock " data-size="small" data-offstyle="success">
                              </div>


                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Security Sensor</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                          <div class="media">
                              <div class="media-left">
                                <img src="/images/thief.png" alt="" width="50px">
                                <div class="media-body">
                                    <h4 class="media-heading"></h4>
                                </div>
                              </div>
                              <div class="media-body">
                                  <h4 class="media-heading">Door</h4>
                              </div>

                              <div class="media-right">
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="info" data-width="70" data-size="small">
                              </div>
                          </div>
                          <div class="media">
                              <div class="media-left">
                                <img src="/images/people.png" alt="" width="50px">
                              </div>
                              <div class="media-body">
                                  <h4 class="media-heading">Inside Home</h4>
                              </div>

                              <div class="media-right">
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="info" data-width="70" data-size="small">
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Flame Sensor</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                          <div class="media">
                              <div class="media-left">
                                <img src="/images/fire.png" alt="" width="50px">
                                <div class="media-body">
                                    <h4 class="media-heading"></h4>
                                </div>
                              </div>
                              <div class="media-body">
                                  <h4 class="media-heading">Flame</h4>
                              </div>

                              <div class="media-right">
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="info" data-width="70" data-size="small">
                              </div>
                          </div>
                          <div class="media">

                        </div>
                    </div>
                  </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Smoke Sensor</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                          <div class="media">
                              <div class="media-left">
                                <img src="/images/smoke.png" alt="" width="50px">
                                <div class="media-body">
                                    <h4 class="media-heading"></h4>
                                </div>
                              </div>
                              <div class="media-body">
                                  <h4 class="media-heading">Smoke</h4>
                              </div>

                              <div class="media-right">
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="info" data-width="70" data-size="small">
                              </div>
                          </div>
                          <div class="media">

                        </div>
                    </div>
                </div>
            </div>
        </div>


  </div>
</div>
  </body>
  <script>
      $(function(){
          var codes = $('.highlight code');
          codes.each(function (ind, el) {
              hljs.highlightBlock(el);
          });

          $('.lobipanel').lobiPanel();
          $('#demoPanel11').lobiPanel();
          $('#lobipanel-basic')
                  .on('beforeUnpin.lobiPanel', function () {
                      console.log("beforeClose");
                  })
                  .on('onClose.lobiPanel', function () {
                      console.log("onClose");
                  })
                  .on('onTitleChange.lobiPanel', function () {
                      console.log(this, arguments);

                  })
                  .lobiPanel();
          $('#lobipanel-custom-control').lobiPanel({
              reload: false,
              close: false,
              editTitle: false
          });
          $('#lobipanel-stateful').lobiPanel({
              stateful: true
          });
          $('#lobipanel-font-awesome').lobiPanel({
              reload: {
                  icon: 'fa fa-refresh'
              },
              editTitle: {
                  icon: 'fa fa-edit',
                  icon2: 'fa fa-save'
              },
              unpin: {
                  icon: 'fa fa-arrows'
              },
              minimize: {
                  icon: 'fa fa-chevron-up',
                  icon2: 'fa fa-chevron-down'
              },
              close: {
                  icon: 'fa fa-times-circle'
              },
              expand: {
                  icon: 'fa fa-expand',
                  icon2: 'fa fa-compress'
              }
          });
          $('#lobipanel-constrain-size').lobiPanel({
              minWidth: 300,
              minHeight: 300,
              maxWidth: 600,
              maxHeight: 480
          });
          $('#lobipanel-from-url').on('loaded.lobiPanel', function (ev, lobiPanel) {
              var $body = lobiPanel.$el.find('.panel-body');

              hljs.highlightBlock($body.find('code')[0]);
          }).lobiPanel({
              loadUrl: 'bootstrap/dist/css/bootstrap.min.css',
              bodyHeight: 400
          });
          $('#lobipanel-multiple').find('.panel').lobiPanel({
              sortable: true,
              beforeTitleChange: function(lobiPanel, title){
                  console.log("beforeTitleChange", arguments);
                  if (!title) {
                      return false;
                  }
              }
          });
      });
  </script>
</html>
