body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.mycolor{
    color : #72c02c;
}
.myborder{
    padding: 20px;;


    -webkit-box-shadow: 0px 0px 3px 0px #72c02c;
    -moz-box-shadow:    0px 0px 3px 0px #72c02c;
    box-shadow:         0px 0px 3px 0px #72c02c;
}
.mybutton{
    position: relative;
    left: 50%;
    top: 193px;

}
.margin-bottom-20 {
    margin-bottom: 20px;

}
.btn-u:hover {
    background: #5fb611;
}
.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
    background: #5fb611;
}
.btn-u:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-u {
    background: #72c02c;
}
.btn-u {
    white-space: nowrap;

    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #72c02c;
    display: inline-block;
    text-decoration: none;
}
.input-group-addon {

    /*color: #b3b3b3;*/
    font-size: 14px;
    background: #fff;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;


}
.input-group .form-control {
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.form-control {
    box-shadow: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;


    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.on-off.active {
    background: #7BB712;
}

.on-off {
    width: 130px;
    padding: 10px;
    position: relative;
}

.on-off-word {
    font-size: 15px;
    font-weight: 600;
    margin-left: 22px;
}

.radio-dot:before, .radio-dot:after {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 100%;
}

.radio-dot:before {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    top: 10px;
    left: 16px;
}

.radio-dot:after {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    top: 14px;
    left: 20px;
}

.on-off.active .on-off-word {
    color: #fff;
}

.on-off.active .radio-dot:after {
    background: #426C2A;
}

.on-off.active .radio-dot:before {
    background: #fff;
    border-color: #699D17;
}

.on-off:hover .radio-dot:before {
    border-color: #adadad;
}

.on-off.active:hover .radio-dot:before {
    border-color: #699D17;
}


.on-off.active .radio-dot:after {
    background: #426C2A;
}

.on-off:hover .radio-dot:after {
    background: #e6e6e6;
}

.on-off.active:hover .radio-dot:after {
    background: #426C2A;

}

@media (max-width: 400px) {

    .mobile-br {
        display: none;
    }

    .on-off {
        width: 49%;
        padding: 10px;
        position: relative;
    }
}
