<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="container">
      <h1>500 error But we are working</h1>
      <pre><%= error.stack %></pre>
    </div>


  </body>
</html>
