<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head.ejs %>
      <link rel="stylesheet" href="/stylesheets/bg.css">
      <script src="/javascripts/jquery.cookie.js" charset="utf-8"></script>
  </head>
  <body>
        <% include ../partials/nav.ejs %>
        <div class="container" >
      <div class="row vertical-offset-100">
      	<div class="col-md-4 col-md-offset-4">
      		<div class="panel panel-default">
  			  	<div class="panel-heading">
  			    	<h3 class="panel-title">Please sign in</h3>
  			 	</div>
  			  	<div class="panel-body">
  			    	<form accept-charset="UTF-8" role="form" action="/commons/signin" method="post" name="frm">
                      <fieldset>
  			    	  	<div class="form-group">
  			    		    <input class="form-control" placeholder="E-mail" name="email" type="text">
  			    		</div>
  			    		<div class="form-group">
  			    			<input class="form-control" placeholder="Password" name="password" type="password" value="">
  			    		</div>
  			    		<div class="checkbox">
  			    	    	<label>
  			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
  			    	    	</label>
  			    	    </div>
  			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
  			    	</fieldset>
  			      	</form>
  			    </div>
  			</div>
  		</div>
  	</div>
  </div>
  </body>
  <script type="text/javascript">
  <% if(msg) {%>
                       alert('<%= msg %>')
  <%}%>

  $(document).ready(function () {
          if($.cookie("email")){
            frm.email.value = $.cookie("email");
            frm.remember.checked = true;
          }
  });
  frm.onsubmit = function(){
    if(frm.remember.checked){
          $.cookie("email",frm.email.value,{expires : 7});
          console.log('active cookie');
    }else{
      $.removeCookie("email");
    }
  }
  </script>
</html>
