<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
        <style media="screen">
            .ct-line.ct-threshold-above, .ct-point.ct-threshold-above, .ct-bar.ct-threshold-above {
              stroke: #f05b4f;
              }

              .ct-line.ct-threshold-below, .ct-point.ct-threshold-below, .ct-bar.ct-threshold-below {
              stroke: #59922b;
              }

              .ct-area.ct-threshold-above {
              fill: #f05b4f;
              }

              .ct-area.ct-threshold-below {
              fill: #59922b;
              }
              #humidity,#temperature{
                width: 100%;
                height: 300px;
              }
    </style>

  </head>
  <body>
      <% include ../partials/nav.ejs %>
      <div class="ct-chart ct-golden-section" id="humidity"></div>
      <div class="ct-chart ct-golden-section" id="temperature"></div>

   </body>
   <script>
           new Chartist.Line('#humidity', {
             labels: ['1AM', '2AM', '3AM', '4AM', '5AM', '6AM', '7AM', '8AM', '9AM', '10AM', '11AM', '12PM','1PM', '2PM', '3PM', '4PM', '5PM', '6PM', '7PM', '8PM', '9PM', '10PM', '11PM','0AM'],
             series: [
               [50, 49, 55, 41, 78, 66,60, 55, 77, 62, 61, 34,44,55,45,54,34,67,34,45,68,12,55,65]
             ]
           }, {
             showArea: true,
             axisY: {
               onlyInteger: true
             },
             plugins: [
               Chartist.plugins.ctThreshold({
                 threshold: 56
               })
             ]
           });
           new Chartist.Line('#temperature', {
             labels: ['1AM', '2AM', '3AM', '4AM', '5AM', '6AM', '7AM', '8AM', '9AM', '10AM', '11AM', '12PM','1PM', '2PM', '3PM', '4PM', '5PM', '6PM', '7PM', '8PM', '9PM', '10PM', '11PM','0AM'],
             series: [
               [20, 39, 45, 34, 44, 45,30, 35, 77, 62, 61, 34,44,55,45,54,34,67,34,45,68,12,55,65]
             ]
           }, {
             showArea: true,
             axisY: {
               onlyInteger: true
             },
             plugins: [
               Chartist.plugins.ctThreshold({
                 threshold: 56
               })
             ]
           });

 </script>
   </html>
